/* .tag{
    color: #a38918;
    background: -webkit-linear-gradient(left, #a38918 30%, #92a310 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
}
 */
 body{    
  font-family: 'EB Garamond', serif;
 }
.get-but{
    position: absolute;
    bottom: 0;
    right: 0;   
}

.tag{
    font-size: 24px;
    color: #fbfbfb;
    line-height: 36px;
    padding: 15px 5px 15px 0px;
    text-align: center;
    text-decoration: none;
    
}

.tag:hover{
    color: #a39818;
}

  
  a {
    text-decoration: none;
  }
  
  .popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
  }

  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: -23px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 500px;
    border-radius: 20px;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: 25px;
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }
  